{% extends 'base.html' %}
{% block content %}
<section class="main-content">
    <div class="products">
    {% for book in Books %}
    <div class="product-card">
        <img src="{{ book.image.url }}" alt="{{ book.name }}">
        <h4> {{ book.name }}</h4>
        <p>₹{{ book.price }}</p>
      <button>  <a href="{% url 'add_to_cart' book.id %}" class="btn">Add to Cart</a></button>
    </div>
    {% endfor %}
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'view_cart' %}" class="btn">Go to Cart</a>
    </div>
</section>
{% endblock %}